@font-face {
    font-family: 'Stratos Deliveroo Web';
    src: url('StratosDeliverooWeb-SemiBold.eot');
    src: url('StratosDeliverooWeb-SemiBold.eot') format('embedded-opentype'),
        url('StratosDeliverooWeb-SemiBold.woff2') format('woff2'),
        url('StratosDeliverooWeb-SemiBold.woff') format('woff'),
        url('StratosDeliverooWeb-SemiBold.ttf') format('truetype'),
        url('./StratosDeliverooWeb-SemiBold.svg') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans-Bold.eot');
    src: url('IBMPlexSans-Bold.eot') format('embedded-opentype'),
        url('IBMPlexSans-Bold.woff2') format('woff2'),
        url('IBMPlexSans-Bold.woff') format('woff'),
        url('IBMPlexSans-Bold.ttf') format('truetype'),
        url('IBMPlexSans-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlexSans.eot');
    src: url('IBMPlexSans.eot') format('embedded-opentype'),
        url('IBMPlexSans-Bold.woff2') format('woff2'),
        url('IBMPlexSans.woff') format('woff'),
        url('IBMPlexSans-Bold.ttf') format('truetype'),
        url('IBMPlexSans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

